#video-background{
  /* position: fixed; */
    /* display: grid; */
    right: 0;
    /* padding-top: 0px; */
    top: 0;
     z-index: -1;
    /* overflow: hidden;
    
    min-width: 100%; 
    min-height: 100%; */
    /* position: fixed; */
}

/* .header {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
} */
/* #header{
  width: 300px;
} */
.logo{
  width: 400px;
}
img{
  /* display: block; */
  width: 100%;
  height: auto
}
.nav{
  padding-top:0px;
  padding-bottom: 0px;
  background-color: transparent;
  /* position: absolute; */
  top: 0;
  width: 100%;
  z-index: 1;
}
.nav-right{
  position: absolute;
  top: 10px;
  right: 10px;
  padding-top: 0%;
  padding-right: 5%;

}
.nav-right a{
  color: rgb(15, 9, 9);  
  text-decoration: none;
  padding: 20px;
  font-weight: 1000;
}
.nav-right a:hover{
  text-decoration: underline;
  /* color: #fff;  
  text-decoration: none;
  padding: 20px;
  font-weight: 900; */
}
.wrappers{
  display: grid;
  grid-template-rows: 1fr;
}
.about{
  background-color: rgb(226, 213, 213);
  height: 500px;
  width: 100%;
}
input[type=text] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

form {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 16px;
}
.weddings{
  background-color: rgb(226, 213, 213);
  height: 500px;
  width: 100%;
}
.real-estate{
  background-color: rgb(226, 213, 213);
  height: 500px;
  width: 100%;
}
.promotional-content{
  background-color: rgb(226, 213, 213);
  height: 500px;
  width: 100%;
}
.contact{
  background-color: rgb(226, 213, 213);
  height: 500px;
  width: 100%;
}

