#video-background{
  /* position: fixed; */
    /* display: grid; */
    right: 0;
    /* padding-top: 0px; */
    top: 0;
     z-index: -1;
    /* overflow: hidden;
    
    min-width: 100%; 
    min-height: 100%; */
    /* position: fixed; */
}

.logo{
  width: 400px;
}
img{
  /* display: block; */
  width: 100%;
  height: auto
}
.nav{
  padding-top:0px;
  padding-bottom: 0px;
  background-color: transparent;
  /* position: absolute; */
  top: 0;
  width: 100%;
  z-index: 1;
}
.nav-right{
  position: absolute;
  top: 10px;
  right: 10px;
  padding-top: 0%;
  padding-right: 5%;

}
.nav-right a{
  color: rgb(15, 9, 9);  
  text-decoration: none;
  padding: 20px;
  font-weight: 1000;
}
.nav-right a:hover{
  text-decoration: underline;
  /* color: #fff;  
  text-decoration: none;
  padding: 20px;
  font-weight: 900; */
}
.toggle{
  width: 100%;
  padding: 10px 20px;
  background: black;
  text-align: right;
  box-sizing: border-box;
  /* display:none; */
  color: white;
  font-size: 20px;
  display: none;

}

@media(max-width: 700px) {
  .toggle{
    display: block;
  }
 #nav-right a {
   width: 100%;
   display: block;
   text-align: center;
 }
 ul{
   display: none;
 }
 
 .active{
   display: block;
 }
}